DB_HOST=localhost
DB_PORT=5432
DB_NAME=nest_teslo_db
DB_USERNAME=ray
DB_PASSWORD=2005

DATABASE_URL=postgresql://ray:2005@localhost:5432/nest_teslo_db
JWT_SECRET=
CSRF_SECRET=
R2_BUCKET_PATH=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_URL=
R2_BUCKET_NAME=